<!doctype html>
<html>

<head>
    <title>Mini-Projet</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>
<br>
<h1>Mini-Projet</h1>
</br>
<a href="{{ url_for('liste_regions') }}">Liste des régions</a><br/>
<a href="{{ url_for('liste_departements_region_request') }}">Liste des départements d'une région</a><br/>
<a href="{{ url_for('liste_departements_annee_diplome_request') }}">Liste des départements où il y a eu plus de diplômées femmes que de diplômés hommes</a><br/>

<img class="insee_img" src="{{ url_for('static', filename='insee.jpg') }}"><br/>
<footer>Lucas GOUDIN et Bjorn GIRAUD</footer>
</body>

</html>
