<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
	<header>
		<a href="/">Accueil</a><br/>
	</header>
<br>
<h1>Liste des départements où il y a eu plus de diplômées femmes que de diplômés hommes :</h1>
<form method="POST" action="{{ url_for('liste_departements_annee_diplome') }}">
	<select name="annee">
		{% for annee in annees %}
			<option value="{{annee[0]}}">{{annee[0]}}</option>
		{% endfor %}
	</select>
	<select name="diplome">
		{% for diplome in diplomes %}
			<option value="{{diplome[0]}}">{{diplome[1]}}</option>
		{% endfor %}
	</select>
	<input type="submit" value="Soumettre"/>
</form>
<footer>Lucas GOUDIN et Thibault GRAISSAGUEL</footer>
</body>
</html>