<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Moyenne</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <script src="main.js"></script>
</head>
<body>
    <header>
        <a href="/">Accueil</a><br/>
    </header>
    <br>
    <h1>Moyenne du nombre de diplômés</h1>
    <form method="POST" action="{{ url_for('moyenne') }}">
        <select name="diplome">
            {% for niveau in niveaux %}
                <option value="{{niveau[0]}}">{{niveau[1]}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Soumettre"/>
    </form>
    <footer>Lucas GOUDIN</footer>
</body>
</html>