html {
    min-height: 100%;
    background: linear-gradient(#edeeff, white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
.insee_img {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #edeeff;
    text-align: center;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: #edeeff;
}

h1 {
    color: #af0a0f;
    text-align: center;
    font-weight: bold;
}

h3 {
    color: #af0a0f;
    font-weight: bold;
}